<!--
 * ============================================================================
 * FORGE — Framework for Observed Rules, Generation & Engineered Data
 * ============================================================================
 *
 * File: workspace-welcome-header.component.html
 * Purpose: Defines the workspace welcome header Workspace component template.
 *
 * Author: Ranjoy Sen
 * Email: ranjoy.sen@collins.com
 *
 * ============================================================================
 -->

<section class="welcome-section">

  <div class="welcome-copy">

    <h1>
      Welcome back, Ranjoy
    </h1>

    <p>
      Create, manage and generate synthetic data models with FORGE.
    </p>

  </div>


  <button
    type="button"
    class="new-dataModel-button"
    (click)="createDataModel()"
  >

    <span class="material-symbols-outlined">
      add
    </span>

    <span>
      New DataModel
    </span>

  </button>

</section>
