<!--
File: authenticated-layout.component.html
Purpose: Shared authenticated application shell for FORGE.

Author: Ranjoy Sen
Email: ranjoy.sen@collins.com
-->

<div class="authenticated-shell">

  <app-forge-sidebar
    (action)="handleSidebarAction($event)"
  />

  <section class="application-area">
    <app-technical-data-banner />


    <app-forge-topbar
      (action)="handleTopbarAction($event)"
    />

    <app-api-loading-spinner />

    <main class="application-content">
      <router-outlet />
    </main>

  </section>

</div>
