:host {
  display: contents;
}

app-model-validation-entity-chart,
app-model-validation-status-chart,
app-model-validation-entity-table {
  display: flex;
  width: 100%;
  min-width: 0;
  min-height: 520px;
  height: 520px;
  overflow: hidden;
}
